[submodule "lib/minilibx-linux"]
	path = lib/minilibx-linux
	url = git@github.com:vasco-castro/minilibx-linux.git
[submodule "lib/libft"]
	path = lib/libft
	url = git@github.com:vasco-castro/libV.git
[submodule "lib/minilibx-opengl"]
	path = lib/minilibx-opengl
	url = git@github.com:vasco-castro/minilibx-opengl.git
