[submodule "libs/libft"]
	path = libs/libft
	url = https://github.com/vasco-castro/libV.git
	branch = master
[submodule "libs/minilibx-linux"]
	path = libs/minilibx-linux
	url = https://github.com/vasco-castro/minilibx-linux.git
[submodule "libs/minilibx-opengl"]
	path = libs/minilibx-opengl
	url = https://github.com/vasco-castro/minilibx-opengl.git
